name: 'CI - Nightly'
on:
  workflow_dispatch: # Allows to run the workflow manually from the Actions tab
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  # Cache params
  CACHE_VERSION: 2022061906 # To be able to create a new cache (YYYYMMDDXX)
  TEST_OUTPUT_STYLE: pretty
  COMPOSER_OPTIONS: --optimize-autoloader --ignore-platform-req=php+

jobs:
  tests:
    name: Nightly - Symfony ${{ matrix.symfony-version }}
    needs: [ static-tests, tests ]
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      max-parallel: 4
      # Perform tests against:
      #  - current php dev version with all supported symfony version
      #  - next Symfony minor version to manage with latest supported php version
      matrix:
        php-version:
          - '8.2' # Current php dev version
        symfony-version:
          - '4.4' # Lowest LTS
          - '5.4' # Latest LTS
        include:
          - symfony-version: '6.0' # Next symfony minor version to manage with latest supported PHP version
            php-version: '8.1'

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ matrix.php-version }}'
          tools: composer
          coverage: none
        env:
          # Always use latest available patch for the version
          update: true

      - name: Setup cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.composer
            ./vendor
          # Clear the cache if composer json (as composer.lock is in the repo) has been updated
          key: ${{ env.CACHE_VERSION }}-tests-${{ matrix.php-version }}-${{ matrix.symfony-version }}-${{ hashFiles('composer.json') }}

      - name: Build
        run: |
          composer require -W ${{ env.COMPOSER_OPTIONS }} \
            symfony/http-foundation:^${{ matrix.symfony-version }} \
            symfony/http-kernel:^${{ matrix.symfony-version }} \
            symfony/config:^${{ matrix.symfony-version }} \
            symfony/dependency-injection:^${{ matrix.symfony-version }} \
            symfony/event-dispatcher:^${{ matrix.symfony-version }} \
            symfony/routing:^${{ matrix.symfony-version }} \
          && make build

      - name: Test
        run: make test-unit && make test-functional
